<div style="text-align: left;">
<table style="width:100%; background-color:transparent;">
  <tr style="background-color:transparent;">
    <td style="background-color:transparent;"><a href="http://www.datascience-paris-saclay.fr">
<img border="0" src="http://project.inria.fr/saclaycds/files/2017/02/logoUPSayPlusCDS_990.png" width="90%">
  </tr>
</table> 
</div>

<center><h1>Notre beau projet</h1></center>
<br/>
<center>Pierre Eustache, Simon Free, Timothé Krauth, Fanny Streiff, Nicolas Urien</center>

## Table of Contents

0. [Introduction](#Introduction)
1. [Data](#Data)
2. [Score Metric](#Score-metric)
3. [Data exploration](#Data-exploration)

## To Do

- target : pays par année
#### Fanny
- finir présentation des datas
- rajouter du blabla en introduction/aim
#### Nicolas
- data vis pour quelques data set
    - carte avec les pays qui ont beaucoup d'immigrés (sur la dernière année) => heat map pour les inflows
    - carte avec les pays qui employent beaucoup à l'étranger (sur la dernière année)
    - autres cartes possibles    
-    
#### P2
- series temporelles de l'immigration par pays (des plus intéressants)
- faire pareil avec certaines variables qui pourraient intéresssant (taxes qui ont augmenté ou diminué)
- heat map permet d'avoir une vision à un temp fixé, séries temporalles permet de voir la corrélation entre plusieurs variables    
#### P3
- définir une métrique : mlse
#### P4
- merge 2/3 data base (en fonction de ce que nous dit les cartes)
- préparer un premier jet
#### Pierre
- faire marcher ça sur ramp
    - une classe régressor
    - une classe extractor

# Introduction

The predictive aim of this challenge is to use several datasets to predict the number of immigrant for each OCDE's country per year. Au cours de ces 30 dernières années, le nombre des migrants internationaux a doublé dans le monde que cela soit pour des raisons économiques, écologique ou *de guerre*. Les courants de migration placent les gouvernements de tous les États devant de sérieux problèmes de gestion et d’intégration. Il serait donc plus qu'intéressant de pouvoir prédire les flux migratoires des années à venir afin d'assurer à tous des bonnes conditions d'accueil.


There are seven datasets in this challenge:

* `Employment rate.csv` 
* `Governement Debt.csv` 
* `Greenhouse Gases.csv` 
* `Inflows.csv` 
* `Health.csv` 
* `Population.csv` 
* `Taxes.csv`

# Data

- **Employement rate**
    - **Country**
    - **Place of Birth**
    - **Gender**
    - **Rate**
    - **Year**
    - **Unit**
    - **Power Code**
    - **Reference Period**
    - **Value**
    - **Flags**
<br/><br/>
- **Governement Debt**
    - **Country**
    - **Time**
    - **Frequency**
    - **Unit**
    - **Variable**
    - **Time Period**
    - **Value**
    - **Flags**
<br/><br/>   
- **Greenhouse Gases**
    - **Country**
    - **Pollutant**
    - **Variable**
    - **Year**
    - **Unit**
    - **Power Code**
    - **Reference Period**
    - **Value**
    - **Flags**
<br/><br/>    
- **Health**
    - **Financing scheme**
    - **Function**
    - **Provider**
    - **Measure**
    - **Country**
    - **Year**
    - **Unit**
    - **Power Code**
    - **Reference Period**
    - **Values**
    - **Flags**
<br/><br/>    
- **Inflows**
    - **Country**
    - **Place of Birth**
    - **Gender**
    - **Rate**
    - **Year**
    - **Unit**
    - **Power Code**
    - **Reference Period**
    - **Values**
    - **Flags**
<br/><br/>    
- **Population**
    - **Country**
    - **Sex**
    - **Age**
    - **Time**
    - **Values**
    - **Flags**
<br/><br/>    
- **Taxes**
    - **Country**
    - **Family Type**
    - **Main out-of-work benefit**
    - **Unemployment duration**
    - **Earning in the new job**
    - **Include housing benefits**
    - **Include temporary into-work benefits**
    - **Year**
    - **Values**
    - **Flags**

# Score metric

# Data exploration

In [1]:
%matplotlib inline
import imp
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
Erates = pd.read_csv('data/Employment rate.csv')
drop_cols = ['COUNTRY','BIRTH', 'GENDER', 'RATE', 'YEAR', 'Unit Code', 'PowerCode Code', 'Reference Period Code', 'Flag Codes']
Erates = Erates.drop(drop_cols,axis=1)
Gdebt = pd.read_csv('data/Governement Debt.csv')
drop_cols = ['COU','DTYP', 'FREQ', 'UNIT', 'DVAR', 'TIME', 'Flag Codes']
Gdebt = Gdebt.drop(drop_cols,axis=1)
Ggases = pd.read_csv('data/Greenhouse Gases.csv')
drop_cols = ['COU','POL', 'VAR', 'YEA', 'Unit Code', 'PowerCode Code', 'Reference Period Code', 'Flag Codes']
Ggases = Ggases.drop(drop_cols,axis=1)
health = pd.read_csv('data/Health.csv')
drop_cols = ['HF','HC', 'HP', 'MEASURE', 'LOCATION', 'Unit Code', 'TIME','PowerCode Code', 'Reference Period Code', 'Flag Codes']
health = health.drop(drop_cols,axis=1)
inflows = pd.read_csv('data/Inflows.csv')
drop_cols = ['CO2','VAR', 'GEN', 'COU', 'YEA', 'Flag Codes']
inflows = inflows.drop(drop_cols,axis=1)
population = pd.read_csv('data/Population.csv')
drop_cols = ['LOCATION','AGE', 'SEX', 'TIME', 'Flag Codes']
population = population.drop(drop_cols,axis=1)
taxes = pd.read_csv('data/Taxes.csv')
drop_cols = ['LOCATION','FAMILY', 'UBMAINBEN', 'DURATION', 'EARNINGS', 'HBTOPUPS', 'INTOWBEN', 'TIME', 'Flag Codes']
taxes = taxes.drop(drop_cols,axis=1)

C:\Users\ASUS\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Erates.head(3)

,Country,Place of birth,Gender,Rate,Year,Unit,PowerCode,Reference Period,Value,Flags
0,Australia,Foreign-born,Men,Employment rate,2000,Percentage,Units,NaN,74.0,NaN
1,Australia,Foreign-born,Men,Employment rate,2001,Percentage,Units,NaN,73.9,NaN
2,Australia,Foreign-born,Men,Employment rate,2002,Percentage,Units,NaN,74.0,NaN

In [4]:
Gdebt.head(3)

,Country,Type,Frequency,Unit,Variable,Time period,Value,Flags
0,Australia,Stocks: Outstanding amounts,Annual,Million USD,Total central government debt,2000,46472.311,NaN
1,Australia,Stocks: Outstanding amounts,Annual,Million USD,Total central government debt,2001,35119.508,NaN
2,Australia,Stocks: Outstanding amounts,Annual,Million USD,Total central government debt,2002,37785.120,NaN

In [5]:
Ggases.head(3)

,Country,Pollutant,Variable,Year,Unit,PowerCode,Reference Period,Value,Flags
0,Australia,Greenhouse gases,Total emissions excluding LULUCF,1990,Tonnes of CO2 equivalent,Thousands,NaN,420315.323,NaN
1,Australia,Greenhouse gases,Total emissions excluding LULUCF,1991,Tonnes of CO2 equivalent,Thousands,NaN,421381.463,NaN
2,Australia,Greenhouse gases,Total emissions excluding LULUCF,1992,Tonnes of CO2 equivalent,Thousands,NaN,425702.483,NaN

In [6]:
health.head(3)

,Financing scheme,Function,Provider,Measure,Country,Year,Unit,PowerCode,Reference Period,Value,Flags
0,All financing schemes,Current expenditure on health (all functions),All providers,Share of gross domestic product,Denmark,2010,Percentage,Units,NaN,10.333,Break
1,All financing schemes,Current expenditure on health (all functions),All providers,Share of gross domestic product,Denmark,2011,Percentage,Units,NaN,10.153,NaN
2,All financing schemes,Current expenditure on health (all functions),All providers,Share of gross domestic product,Denmark,2012,Percentage,Units,NaN,10.241,NaN

In [7]:
inflows.head(3)

,Country of birth/nationality,Variable,Gender,Country,Year,Value,Flags
0,Afghanistan,Inflows of foreign population by nationality,Total,Australia,2000,887.0,NaN
1,Afghanistan,Inflows of foreign population by nationality,Total,Australia,2001,456.0,NaN
2,Afghanistan,Inflows of foreign population by nationality,Total,Australia,2002,660.0,NaN

In [8]:
population.head(3)

     Country    Sex    Age  Time       Value  Flags
0  Australia  Women  Total  2005  10157211.0    NaN
1  Australia  Women  Total  2006  10291542.0    NaN
2  Australia  Women  Total  2007  10473986.0    NaN

In [9]:
taxes.head(3)

,Country,Family type,Main out-of-work benefit,Unemployment duration (months),Earnings in the new job,Include housing benefits,Include temporary into-work benefits,Year,Value,Flags
0,Belgium,Single person without children,Guaranteed Minimum Income (GMI) benefits,2,Minimum Wage,Yes,Yes,2001,67,NaN
1,Belgium,Single person without children,Guaranteed Minimum Income (GMI) benefits,2,Minimum Wage,Yes,Yes,2002,68,NaN
2,Belgium,Single person without children,Guaranteed Minimum Income (GMI) benefits,2,Minimum Wage,Yes,Yes,2003,66,NaN

In [10]:
print('Erates.shape:',Erates.shape)
print('Gdebt.shape:',Gdebt.shape)
print('Ggases.shape:',Ggases.shape)
print('health.shape:',health.shape)
print('inflows.shape:',inflows.shape)
print('population.shape:',population.shape)
print('taxes.shape:',taxes.shape)

Erates.shape: (10284, 10)
Gdebt.shape: (43392, 8)
Ggases.shape: (51614, 9)
health.shape: (33815, 11)
inflows.shape: (458192, 7)
population.shape: (68208, 6)
taxes.shape: (474112, 10)

In [11]:
Erates.dtypes

Country              object
Place of birth       object
Gender               object
Rate                 object
Year                  int64
Unit                 object
PowerCode            object
Reference Period    float64
Value               float64
Flags               float64
dtype: object

In [12]:
Erates.describe()

               Year  Reference Period         Value  Flags
count  10284.000000               0.0  10284.000000    0.0
mean    2009.327013               NaN     49.212845    NaN
std        5.396099               NaN     29.895091    NaN
min     2000.000000               NaN      0.000000    NaN
25%     2005.000000               NaN     11.075000    NaN
50%     2009.000000               NaN     62.800000    NaN
75%     2014.000000               NaN     73.700000    NaN
max     2018.000000               NaN     94.100000    NaN

In [13]:
Erates.nunique()

Country              35
Place of birth        2
Gender                3
Rate                  3
Year                 19
Unit                  1
PowerCode             1
Reference Period      0
Value               828
Flags                 0
dtype: int64